<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>
<img src="image.jpg">
<br>
<% @students.each do |student|  %>
  <%= student.name %>
  <br>
  <%= student.avatar  %>
  <br>
<img src="image.jpg">
<% end %>