<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>
<br>
<% @students.each do |student|  %>
  

    my name is <%= student.name %>
    <br>
    my avatar is <%= student.avatar  %>
    <br>
    <img src=<%= student.avatar  %> />

<% end %>