<h1>Liste des étudiants</h1>

<style>
  .student{
    background-color: #eaedf2;
    border-radius: 30px;
    width: 600px ;
    height: 200px;
  }
  #profile_pic {
    margin: 10px;
    border: 2px solid color black;
  }
</style>

<div class="row">

  <div class="col-sm-8"></div>

  <div class="col-sm-4">

    <% @students.each do |student| %>
      <div class="student">
        <div class="row">

          <div class="col-sm-2">
            <img src=<%= student.picture %> alt=<%= student.name %> id="profile_pic" class="img-circle" height="70px" width="70px">
          </div>

          <div class="col-sm-10">
            <h2><%= student.name %></h2>
          </div>

          <hr>

          <div>
            <% if student.course != nil %>
              <p>Est actuellement inscrit au cours de <%= student.course %>
            <% else %>
              <p>N'est actuellement inscrit à aucun cours<p>
            <% end %>
          </div>

        </div>
      </div>
      
      <br>
    <% end %>
  </div>
</div>