<div class= "container">
  <div class= "centered">
    <h1>Créer un Etudiant</h1>
    <hr>

    <%= render 'form', student: @student %>

    <%= link_to 'Retour', students_path %>
    
  </div>
</div>