<h1>Course#index</h1>
<% @courses.each do |course|  %>
  <div>
    <span>Cours:<%= course.field %></span>
    <span> - </span>
    <span>it's remains <%=course.remain_days%> days</span>
    <%= link_to 'Modifier', edit_course_path(course.id) %>
  </div>
<% end %>
