<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h1 class="text-center">Liste des cours</h1>
  </div>
</div>
<% @courses.each do |cours| %>
  <p class="cours"><%= cours.field %>
  <%= link_to 'voir', course_id_path(cours) %></p>
  <br>
<% end %>

