<h1>Cours</h1>
<table>
  <tr>
    <th>Matière</th>
    <th>Professeur</th>
    <th>Nombre de jours restant</th>
  </tr>
  <% @courses.each do |course|  %>
    <tr>
      <td><%= course.field %></td>
      <td><%= course.teacher %></td>
      <td><%= course.remain_days %></td>
    </tr>
  <% end %>
</table>
