<h1>Cours</h1>
<table>
  <tr>
    <th>Matière</th>
  </tr>
  <% @courses.each do |course|  %>
    <tr>
      <td><%= link_to course.field, controller: "courses", action: "show", id:course %></td>
    </tr>
  <% end %>
</table>
<h4><%= link_to "voir liste des étudiants", students_index_path %></h4>