// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .student{
    background-color: #eaedf2;
    border-radius: 30px;
    width: 600px ;
    height: 100px;
  }
  .img-circle {
    margin: 10px;
    border: 5px solid color black;
    height: 70px;
    width: 70px;
  }

  