// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .student{
    background-color: #eaedf2;
    border-radius: 30px;
    width: 600px ;
    height: 100px;
  }
  .img-circle {
    margin: 10px;
    border: 3px solid black;
    height: 70px;
    width: 70px;
  }

  .profile_head {
     background-color: #eaedf2;
  }

  .img-circle_profile {
    margin: 10px;
    border: 5px solid black;
    height: 150px;
    width: 150px;
    border-radius: 30px;
  }

  .profile_name>h1 {
    margin: 10px;
    font-size: 120px;
  }

  